<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="CSRF_TOKEN" />
    <title>Edenglen Championship</title>
    <link rel="stylesheet"  th:href="@{/static/dist/assets/css/app.css}" />

    <script>
        window.POST_REGISTER = '/inscription/submit';
        window.POST_HELP = '/help/submit';
    </script>
</head>
<body>

<header class="header">
    <div class="header__logo">
        <div class="row align-middle">
            <div class="columns shrink">
                <a href="/"><img class="header__logo__img" th:src="@{/static/dist/assets/img/logo-edenglen.png}" /></a>
            </div>
            <div class="columns">

                <h1 class="header__logo__title">Edenglen <br>Championship</h1>
            </div>
        </div>
    </div>

    <div class="header__menu">
        <ul>
            <li><a class="active" href="/inscription">Inscription</a></li>
            <li><a href="/help">Aide & Assistance</a></li>
            <li><a href="/sponsors">Sponsors</a></li>
            <li><a href="/editions">Editions précédentes</a></li>
        </ul>
    </div>
</header>

<div id="app" class="app grid-container">
    <div class="container-center row">
        <register-component></register-component>
    </div>

    <footer class="footer">
        <div class="row align-middle">
            <div class="columns small-12 large-4 medium-6 footer__sponsors">
                <sponsors-component></sponsors-component>
            </div>

            <div class="columns small-12 medium-3 large-4">
                <a href="http://www.vivresondeuil.be" target="_blank" rel="noreferrer nofollow">
                    www.vivresondeuil.be
                </a>
            </div>

            <div class="columns small-12 large-4 medium-3">
                <b>Nous contacter :</b><br>
                <a href="mailto:info@edenglen-championship.com">info@edenglen-championship.com</a> | <a href="tel:0474 63 02 08">0474 63 02 08</a>
            </div>
        </div>
    </footer>
</div>

<script th:src="@{/static/dist/assets/js/app.js}"></script>
</body>
</html>