.home-message {
    background-color: $white;
    display: flex;
    padding: 40px;
    max-width: 750px;
    margin: 0 auto;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.46);
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.46);

    align-items: center;
    justify-content: center;
    flex-direction: column;
}
//.container-center {
//
//}

.previous-edition {
  width: 100%;

  h3 {
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  a {
    width: 140px;
    height: 93px;
    position: relative;
    display: inline-block;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
    }
  }
}