<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="CSRF_TOKEN" />
    <title>Edenglen Championship</title>
    <link rel="stylesheet"  th:href="@{/static/dist/assets/css/app.css}" />

    <script>
        window.POST_REGISTER = '/inscription/submit';
        window.POST_HELP = '/help/submit';
    </script>
</head>
<body>

<header class="header">
    <div class="header__logo">
        <div class="row align-middle">
            <div class="columns shrink">
                <a href="/"><img class="header__logo__img" th:src="@{/static/dist/assets/img/logo-edenglen.png}" /></a>
            </div>
            <div class="columns">

                <h1 class="header__logo__title">Edenglen <br>Championship</h1>
            </div>
        </div>
    </div>

    <div class="header__menu">
        <ul>
            <li><a href="/inscription">Inscription</a></li>
            <li><a href="/help">Nous aider</a></li>
            <li><a href="/sponsors">Sponsors</a></li>
            <li><a class="active" href="/editions">Editions précédentes</a></li>
        </ul>
    </div>
</header>

<div id="app" class="app grid-container">
    <div class="container-center row">
        <div class="block previous-edition">
            <div class="row">
                <div class="columns">
                    <h3>Edition 2011</h3>

                    <a th:href="@{/static/dist/assets/img/previous-editions/2011/1.jpg}" data-lightbox="tournoi-2011">
                        <img th:src="@{/static/dist/assets/img/previous-editions/2011/1.jpg}" alt="tournoi-2011-1">
                    </a>
                    <a th:href="@{/static/dist/assets/img/previous-editions/2011/2.jpg}" data-lightbox="tournoi-2011">
                        <img th:src="@{/static/dist/assets/img/previous-editions/2011/2.jpg}" alt="tournoi-2011-2">
                    </a>
                    <a th:href="@{/static/dist/assets/img/previous-editions/2011/3.jpg}" data-lightbox="tournoi-2011">
                        <img th:src="@{/static/dist/assets/img/previous-editions/2011/3.jpg}" alt="tournoi-2011-3">
                    </a>
                    <a th:href="@{/static/dist/assets/img/previous-editions/2011/4.jpg}" data-lightbox="tournoi-2011">
                        <img th:src="@{/static/dist/assets/img/previous-editions/2011/4.jpg}" alt="tournoi-2011-4">
                    </a>
                    <a th:href="@{/static/dist/assets/img/previous-editions/2011/5.jpg}" data-lightbox="tournoi-2011">
                        <img th:src="@{/static/dist/assets/img/previous-editions/2011/5.jpg}" alt="tournoi-2011-5">
                    </a>
                    <a th:href="@{/static/dist/assets/img/previous-editions/2011/6.jpg}" data-lightbox="tournoi-2011">
                        <img th:src="@{/static/dist/assets/img/previous-editions/2011/6.jpg}" alt="tournoi-2011-6">
                    </a>
                    <a th:href="@{/static/dist/assets/img/previous-editions/2011/7.jpg}" data-lightbox="tournoi-2011">
                        <img th:src="@{/static/dist/assets/img/previous-editions/2011/7.jpg}" alt="tournoi-2011-7">
                    </a>
                    <a th:href="@{/static/dist/assets/img/previous-editions/2011/8.jpg}" data-lightbox="tournoi-2011">
                        <img th:src="@{/static/dist/assets/img/previous-editions/2011/8.jpg}" alt="tournoi-2011-8">
                    </a>
                    <a th:href="@{/static/dist/assets/img/previous-editions/2011/9.jpg}" data-lightbox="tournoi-2011">
                        <img th:src="@{/static/dist/assets/img/previous-editions/2011/9.jpg}" alt="tournoi-2011-9">
                    </a>
                    <a th:href="@{/static/dist/assets/img/previous-editions/2011/10.jpg}" data-lightbox="tournoi-2011">
                        <img th:src="@{/static/dist/assets/img/previous-editions/2011/10.jpg}" alt="tournoi-2011-10">
                    </a>

                    <hr>

                    <h3>Edition 2009</h3>

                    <a th:href="@{/static/dist/assets/img/previous-editions/2009/1.JPG}" data-lightbox="tournoi-2009">
                        <img th:src="@{/static/dist/assets/img/previous-editions/2009/1.JPG}" alt="tournoi-2009-1">
                    </a>
                    <a th:href="@{/static/dist/assets/img/previous-editions/2009/2.JPG}" data-lightbox="tournoi-2009">
                        <img th:src="@{/static/dist/assets/img/previous-editions/2009/2.JPG}" alt="tournoi-2009-2">
                    </a>
                    <a th:href="@{/static/dist/assets/img/previous-editions/2009/3.JPG}" data-lightbox="tournoi-2009">
                        <img th:src="@{/static/dist/assets/img/previous-editions/2009/3.JPG}" alt="tournoi-2009-3">
                    </a>
                    <a th:href="@{/static/dist/assets/img/previous-editions/2009/4.JPG}" data-lightbox="tournoi-2009">
                        <img th:src="@{/static/dist/assets/img/previous-editions/2009/4.JPG}" alt="tournoi-2009-4">
                    </a>
                    <a th:href="@{/static/dist/assets/img/previous-editions/2009/5.JPG}" data-lightbox="tournoi-2009">
                        <img th:src="@{/static/dist/assets/img/previous-editions/2009/5.JPG}" alt="tournoi-2009-5">
                    </a>
                    <a th:href="@{/static/dist/assets/img/previous-editions/2009/6.JPG}" data-lightbox="tournoi-2009">
                        <img th:src="@{/static/dist/assets/img/previous-editions/2009/6.JPG}" alt="tournoi-2009-6">
                    </a>
                    <a th:href="@{/static/dist/assets/img/previous-editions/2009/7.JPG}" data-lightbox="tournoi-2009">
                        <img th:src="@{/static/dist/assets/img/previous-editions/2009/7.JPG}" alt="tournoi-2009-7">
                    </a>
                    <a th:href="@{/static/dist/assets/img/previous-editions/2009/8.JPG}" data-lightbox="tournoi-2009">
                        <img th:src="@{/static/dist/assets/img/previous-editions/2009/8.JPG}" alt="tournoi-2009-8">
                    </a>
                    <a th:href="@{/static/dist/assets/img/previous-editions/2009/9.JPG}" data-lightbox="tournoi-2009">
                        <img th:src="@{/static/dist/assets/img/previous-editions/2009/9.JPG}" alt="tournoi-2009-9">
                    </a>
                    <a th:href="@{/static/dist/assets/img/previous-editions/2009/10.JPG}" data-lightbox="tournoi-2009">
                        <img th:src="@{/static/dist/assets/img/previous-editions/2009/10.JPG}" alt="tournoi-2009-1">
                    </a>
                    <a th:href="@{/static/dist/assets/img/previous-editions/2009/11.JPG}" data-lightbox="tournoi-2009">
                        <img th:src="@{/static/dist/assets/img/previous-editions/2009/11.JPG}" alt="tournoi-2009-1">
                    </a>

                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="row align-middle">
            <div class="columns small-12 large-4 medium-6 footer__sponsors">
                <sponsors-component></sponsors-component>
            </div>

            <div class="columns small-12 medium-3 large-4">
                <a href="http://www.vivresondeuil.be" target="_blank" rel="noreferrer nofollow">
                    www.vivresondeuil.be
                </a>
            </div>

            <div class="columns small-12 large-4 medium-3">
                <b>Nous contacter :</b><br>
                <a href="mailto:email@email.com">email@email.com</a> | <a href="tel:0483 24 23 23">0483 24 23 23</a>
            </div>
        </div>
    </footer>
</div>

<script th:src="@{/static/dist/assets/js/app.js}"></script>
</body>
</html>