<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="CSRF_TOKEN" />
    <title>Template HTML</title>
    <link rel="stylesheet"  th:href="@{/static/dist/assets/css/app.css}" />

    <script>
        window.POST_REGISTER = '/inscription/submit';
        window.POST_HELP = '/help/submit';
    </script>
</head>
<body>

<header class="header">
    <div class="header__logo">
        <div class="row align-middle">
            <div class="columns shrink">
                <a href="/"><img class="header__logo__img" th:src="@{/static/dist/assets/img/logo-edenglen.png}" /></a>
            </div>
            <div class="columns">

                <h1 class="header__logo__title">Edenglen <br>Championship</h1>
            </div>
        </div>
    </div>

    <div class="header__menu">
        <ul>
            <li><a href="/inscription">Inscription</a></li>
            <li><a href="/help">Nous aider</a></li>
            <li><a class="active" href="/sponsors">Sponsors</a></li>
            <li><a href="/editions">Editions précédentes</a></li>
        </ul>
    </div>
</header>

<div id="app" class="app grid-container">
    <div class="container-center row">
        <div class="block sponsors">
            <p class="sponsors__intro">
                Nous tenons à remercier chaleureusement tous nos différents partenaires qu’ils soient visibles ou non, matériel ou en nature pour cette 6ème édition “Edenglen Championship”.
            </p>
            <div class="row align-middle sponsor">
                <div class="columns small-12 medium-6 sponsor__logo">
                    <img src="http://placehold.it/150x150" alt="logo">
                </div>

                <div class="columns small-12 medium-6">
                    <p>
                        FAMILY HOUSE vous accompagne dans le développement et la transmission de vos Valeurs
                    </p>
                </div>
            </div>
            <div class="row align-middle sponsor">
                <div class="columns small-12 medium-6 sponsor__logo" >
                    <img src="http://placehold.it/150x150" alt="logo">
                </div>

                <div class="columns small-12 medium-6">
                    <p>
                        Entreprise de construction et rénovation gérée par Xavier et Victor Ancion. C’est fort de 30 ans d’expériences que père et fils sont maintenant une référence dans le milieu.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="row align-middle">
        <div class="columns small-12 large-4 medium-6 footer__sponsors">
            <img src="http://placehold.it/100x100" alt="sponsor1">
            <img src="http://placehold.it/100x100" alt="sponsor2">
            <img src="http://placehold.it/100x100" alt="sponsor3">
        </div>

        <div class="columns small-12 medium-3 large-4">
            <a href="http://www.vivresondeuil.be" target="_blank" rel="noreferrer nofollow">
                www.vivresondeuil.be
            </a>
        </div>

        <div class="columns small-12 large-4 medium-3">
            <b>Nous contacter :</b><br>
            <a href="mailto:email@email.com">email@email.com</a> | <a href="tel:0483 24 23 23">0483 24 23 23</a>
        </div>
    </div>
</footer>

<script th:src="@{/static/dist/assets/js/app.js}"></script>
</body>
</html>